.actions {
	display: block;
}
 
.actions div {
 	width: 100%;
	margin: 0.3rem 0;
}

.actions .changeKeyboard {
	margin-top: 0.8rem;
}

.actions div img {
	height: 22px;
	width: 22px;
}

@media (min-width: 567px) {
	.actions {
		display: block;
	}
	 
	.actions div {
	 	width: 100%;
		margin: 0.4rem 0;
	}

	.actions .changeKeyboard {
		margin-top: 0.8rem;
	}

	.actions div img {
		height: 27px;
		width: 27px;
	}

}