.input_wrap {
	width: 100%;
	display: block;
	background: #644cad;
	padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
	margin-bottom: 50px;
}

.input_wrap .inputBox {
	width: 100%;
	background: transparent;
	border: none;
	font-size: 24px;
	font-weight: 300;
	color: #fff;
	box-shadow: none;
	height: 40px;
	padding-left: 50px;
}

.input_wrap .inputBox{
	width: 100%;
	background: transparent;
	border: none;
	font-size: 24px;
	font-weight: 300;
	color: #fff;
	box-shadow: none;
	height: 40px;
	padding-left: 50px;
}

.input_wrap .inputBox:focus{
	box-shadow: none;
	outline: none;
}

.input_wrap .inputBox::placeholder{
	color:#fff;
}

.searchBox {
	background: url("../../../assets/icons/search-icon.png") no-repeat left center,
    #644cad;
    background-position: 20px;
     background-size: 25px 25px;
}