@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&amp;family=Nunito:wght@300;400;600;700;800;900&amp;display=swap");


:root {
	/* 	Fonts 	*/
	--regular: "Jost", sans-serif;
	--defaultSize: 16px;
	--smallSize: 4px;
	
	/* Colors */
	--primary: #3d1f98;
	
}